body {
	font-family: arial, 'sans-serif';
	font-size: 13px;
	line-height: 1.5em;	
	font-weight: normal;
	background-color: #E9EAED;
}
* {
	margin: 0;
	padding: 0;
}

ul,ol,li {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
	color: #3b5998;
	&:hover {
		text-decoration: none;
	}
}

hr.fb {
	margin: 0;
	padding: 0;
	border: 0;
	border-bottom: 1px solid #DDD;
}
.container {
	width: 1024px !important;
}
.btn-fb {
	border-radius: 2px;
	font-size: 14px;
	height: 28px;
	line-height: 1em;
			}
.mt-0 {
	margin-top: 0 !important;
}
.mr-5 {
	margin-right: 5px !important;
}

.bold {
	font-weight: bold !important;
}

.fr {
	float: right !important;
}
#headerSection {
	background-color: #3B5998;
	width: 100%;
	height: 42px;
}

.logoBlock {
    background: url("../images/66mSB924h08.png") no-repeat -44px -26px;
    width: 34px;
    height: 40px;
    background-size: 100px 141px;
    float: left;
		&:hover {
			cursor: pointer;
		}
}

.searchBlock {
	margin-top: 8px;
	display: block;
	position: relative;
	z-index: 13;
	margin-left: -10px;
	left: 0;
	max-width: 500px;
	position: relative;
	input {
		border: 0;
		outline: 0;
		border-radius: 2px;
		padding: 2px;
		padding-left: 10px;
		width: 100%;
		max-width: 410px;
		height: 26px;
		position: absolute;
		z-index: 11;
	}


			::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: #999;
		  
		}
		::-moz-placeholder { /* Firefox 19+ */
		  color: #999;
		  
		}
		:-ms-input-placeholder { /* IE 10+ */
		  color: #999;
		  
		}
		:-moz-placeholder { /* Firefox 18- */
		  color: #999;
		  
		}


}
.search-icon {
    background: url("../images/k73czxfkmQD.png") no-repeat -65px -234px;
    width: 30px;
    height: 21px;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    left: 12px;
    background-size: 90px 326px;
    zoom: 0.9;
}
.s-btn {
	background-color: #F2F2F2;
    position: absolute;
    right: -1px;
    top: 0;
    width: 40px;
    height: 26px;
    border: 0;
    outline: 0;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.s-btn:before{
    content: '';
    display: inline-block;
    height: 20px;
    vertical-align: middle;
}
ul.header-list {
		> li {
    margin-top: 12px;
    list-style: none;
    margin-right: 5px;
    border-right: 1px solid #355089;
    padding-right: 2px;
    float: left;
    line-height: 1.8em;
		> a {
			color: #FFF;
	    font-weight: bold;
	    float: left;
	    padding: 0 8px;
	    border-radius: 3px;
				&:hover {
				background-color: #29487D;
			}

		}
	}
}

ul.header-list > li:first-child > a {
	margin: 0;
	padding: 0;
}
.profile-block {
	float: left;
	margin-top: 0;
	.profile-name {
		margin-top: 0;
		float: left;
	}
	ul {
		float: left;
		margin: -3px;
		padding: 0;
		height: 27px;

		li.profile-name-li {
		 margin: 3px 0 0 4px;
		}
	}
	ul > li {
		float: left;
		list-style: none;
		display: inline-block;
		margin: 3px 0 0 0;
		margin-right: 2px;
	}
}
.profile-img {
		float: left;
	> img {
		width: 20px;
		height: auto;
	}
}

.connect-block {
	float: left;
	margin: 0;
	margin-left: 10px;
	margin-right: 20px;

	ul {
			li {
				display: inline-block;
				margin-right: 2px;
				width: 30px;
		  		height: 32px;
				cursor: pointer;
				margin-top: 5px;
				> a {
					display: block;
					text-indent: -999em;
				}
		} 
		li.friendRequest {
			    background: url("../images/mZ60q_p4Y2T.png") no-repeat 0 -740px;
    			background-size: 40px 1248px;
		    
		}

		li.msgs {
		     background: url("../images/mZ60q_p4Y2T.png") no-repeat -3px -390px;
   			 background-size: 40px 1250px;
		}


		li.notifications {
			background: url("../images/mZ60q_p4Y2T.png") no-repeat 0 -952px;
		    background-size: 38px 1248px;
		    opacity: 0.5;
		    height: 30px;
		}
	}
}

.settings-block {
	float: left;
		ul {
			> li {
				margin-top: 5px;
				width: 24px;
				display: inline-block;
				margin-right: 2px;
				cursor: pointer;
				> a {
					display: block;
							text-indent: -999em;
						}
				} 

				li.privacy {
					background: url("../images/mZ60q_p4Y2T.png") no-repeat 0 -1573px;
				    background-size: 40px 1600px;
				    height: 26px;
				}

				li.settings {
						background: url("../images/66mSB924h08.png") no-repeat -4px -125px;
				    background-size: 111px 151px;
				    height: 20px;
				    width: 12px;
				    position: relative;
				    z-index: 14;
				}
		}
	}
.header-rs {
	float: right;
}

.h-list {
    float: left;
    font-size: 10px;
    font-weight: normal;
}

/*  Sidebar  */
.s-list {
	display: block;
    margin-top: 10px;
    float: left;
    width: 100%;
	li {
		  margin: 1px 0;
		    float: left;
		    width: 100%;
		> a {
			font-size: 12px;
			color: #000;
		    float: left;
		    width: 100%;
		    padding: 2px 5px;
		    border-radius: 2px;
		     span {
		     	margin-right: 5px;
		     }
		     .count_post {
		     	float: right;
		     	color: #666;
		     	font-size: 11px;
		     }
		    .gr_icon {
			  	background: url("../images/HB4LKjX-h-Q.png") no-repeat 0 0;
			  	background-size: 20px 40px;
			  }

			  .gr_icon1 {
			  	background: url("../images/G5d8ac5pgpT.png") no-repeat 0 -304px;
    			background-size: 40px 1000px;
			  }
				.saved_icon {
					 background: url("../images/G5d8ac5pgpT.png") no-repeat 0 -830px;
   				 background-size: 35px 870px;
				}
			&:hover {
				text-decoration: underline;
				background-color: #dcdee3;
			}
		}
		
	}
}

.s-pimg > img {
	width: 16px;
	height: auto;
	float: left;
	margin-right: 5px;
}
.s-pt {
	float: left;
	font-size: 12px;
}


.fb-icon {
	width: 22px;
    height: 20px;
    float: left;
}
.ep_icon {
		background: url("../images/S-BRDCgfPJZ.png") no-repeat -21px -220px;
    background-size: 48px 497px;
}

.span_us {
	background: url("../images/S-BRDCgfPJZ.png") no-repeat -21px -220px;
  background-size: 48px 497px;
}

.nf_icon {
	background: url("../images/G5d8ac5pgpT.png") no-repeat 0px -439px;
  background-size: 36px 800px;
}
.msg_icon {
	background: url("../images/G5d8ac5pgpT.png") no-repeat 0px -420px;
   background-size: 30px 800px;
}
.evnts_icon {
	background: url("../images/x-e8GyBzy9q.png") no-repeat -43px -121px;
  background-size: 100px 288px;
  width: 20px;
  margin-right: 5px;
}
.add_pv {
	background: url("../images/S-BRDCgfPJZ.png") no-repeat 0 -220px;
  background-size: 44px 496px;
  width: 18px;
  margin-right: 5px;
}

.add_pa {
	background: url("../images/Z3jnZLsaMc9.png") no-repeat 4px -276px;
  background-size: 60px 300px;
  width: 30px;
  margin-right: 5px;
}

.sb-title {
	float: left;
	margin-top: 10px;
	display: block;
	> h4 {
	color: #666;
	font-size: 11px;
	font-weight: bold;
	line-height: 0;
}

}

.s-box {
	background-color: #fff;
	width: 100%;
	max-width: 500px;
	margin-top: 15px;
	border-radius: 2px;
	float: left;
	border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  position: relative;
  z-index: 12;

  .sb-header {
    float: left;
    padding-bottom: 10px;
  	border-bottom: 1px solid #e5e5e5;
  	margin: 10px;
  	width: 96%;
  }
	

	.sib-footer {
  	border-top: 1px solid #DDD;
  	background-color: #FFF;
  	padding: 10px;
  	float: left;
  	width: 100%;
  	.sib-flist {
  		float: left;
  		> li {
  			display: inline-block;
  			cursor: pointer;
  			margin-right: 10px;
  			width: 25px;
			  height: 25px;
			  &:hover {
					background-color: #f2f2f2;
			  }
  			> a {
  				text-indent: -999em;
  				display: block;
  			}
  		}
  		li.camera {
  				background: url("../images/S-BRDCgfPJZ.png") no-repeat -14px -7px;
			    background-size: 50px 540px;
  			}
  		li.tag_people {
  				background: url("../images/Z3jnZLsaMc9.png") no-repeat -12px -104px;
   				background-size: 50px 260px;
			    
  			}
  		li.doing {
  				background: url("../images/Z3jnZLsaMc9.png") no-repeat -8px -50px;
  			  background-size: 45px 240px;
  			}

  		li.checkin {
  				background: url("../images/Z3jnZLsaMc9.png") no-repeat -14px -5px;
   				background-size: 48px 240px;
  			}
  		
  		}

  		
  }

.sib-post {
  			float: right;

  			.fb_icon {
  				background: url("../images/Z3jnZLsaMc9.png") no-repeat -20px -130px;
			    background-size: 46px 230px;
			    width: 18px;
			    height: 18px;
			    float: left;
  			}
  			> li {
						display: inline-block;
						margin-right: 5px;
  			}
  			.btn-fb {
  				border-radius: 2px;
  				font-size: 14px;
   				height: 28px;
   				line-height: 1em;
  			}
  			.btn-post {
  				background-color: #4267b2;
   				border-color: #4267b2;
   				border-radius: 2px;
   				color: #FFF;
   				font-size: 14px;
   				height: 28px;
   				line-height: 1em;
   				&:hover {
   					background-color: #365899;
   					border-color: #365899;
   				}
  			}
  	}
	.sb-hl {
		> li {
			    display: inline-block;
			    padding-right: 10px;
			    float: left;
			    border-right: 1px solid #E5E5E5;
			    margin-right: 10px;
			    position: relative;
			    z-index: 10;
			    &:hover {
			    	background-color: #F2F2F2;
			    }
	    > a {
	    	color: #3b5998;
	    	font-weight: bold;
	    }
		}
		> li:last-child {
			border:  none;
			margin-right: 0;
		}

		li.us > a {
			color: #333;
		}

	}
}
.arrow {
	display: block;
	position: absolute;
	z-index: 12;
	width: 10px;
	height: 10px;
}
.arrow:before {
		content: ' ';
    /* border-top: 3px solid #bbb;
    border-bottom: 3px solid #bbb;
    border-left: transparent;
    border-right: transparent; */
    width: 10px;
    height: 10px;
    position: absolute;
    border-color: #ddd;
    bottom: -30px;
    left: 30px;

}

.sib {
	margin-top: 0;
  display: block;
  width: 100%;
  float: left;
  position: relative;
  z-index: 11;


	.u-avatar {
    position: absolute;
    top: 0;
    left: 12px;
    z-index: 12;
    a {
    	float: left;
	    	img {
				width: 40px;
				height: 40px;
			}
    }
		
	}
	.textarea-s {
		float: left;
		width: 100%;

		textarea {
			resize: none;
			padding: 10px;
	    border: 1px solid transparent;
	    outline: 0;
	    height: 60px;
	    display: block;
	    margin-left: 52px;
	    width: 88%;
		}
	}
}
.suggestion-list-div {
	position: absolute;
  z-index: 16;
  top: 26px;
  background-color: #FFF;
  border: 1px solid #ddd;
  width: 100%;
  left: 44px;
  max-width: 450px;

  background: #fff;
  border: 1px solid #DDD;
  border-top-color: #d9d9d9;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  cursor: default;


	.s-list {
		li {
			display: inline-block;
			margin: 4px 0;
			margin-top: 0;
			background-color: #FFF;
			a {
				color: #000;
				&:hover {
					text-decoration: none;
				}
			}
		}
		li.rs {

			a{
				text-decoration: none;
				font-weight: bold;
				text-transform: uppercase;
				color: #666;
				&:hover {
					text-decoration: none;
				}
			}
		}
	} 
}

 
#searchSuggestionDiv {
	display: none;
} 

li.settings {
	position: relative;
	z-index: 10;

	.settnigs-div {
		display: none;
    padding: 0;
		background-color: #FFF;
    width: 210px;
    position: absolute;
    z-index: 12;
    top: 40px;
    right: -15px;

    border: 1px solid #ccc;
	  border-top-color: #d9d9d9;
	  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);

	  .s-list-ul {
	  	margin: 0 0 0 20px;
	  	padding: 0;
	  	width: 90%;
	  	font-size: 11px;
	  	> li {
	  		display: block;
	  		margin: 6px 0;
	  		width: 100%;
	  		> a {
	  			color: #000;
	  			text-indent: 0;
	  		}
	  		&:hover {
	  			background-color: #F2F2F2;
	  		}
	  		img {
	  			width: 30px;
	  			height: 30px;
	  			margin-right: 5px;
	  		}
	  	}
	  }
	}

}

.settings-title {
		font-size: 12px;
    margin: 10px;
    float: left;
    width: 100%;
}
.ac_count {
	background-color: #d8deea;
  border-radius: 2px;
  color: #3b5998;
  font-weight: bold;
  right: 5px;
  padding: 0 4px;
  position: relative;
}

.settnigs-div:before {
	top: -9px;
  left: 92%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #f2f2f2;
  border-width: 9px;
  margin-left: -10px;
  border-top: 0 solid #f2f2f2;
  border-bottom: 10px solid #f2f2f2;
  position: absolute;
  z-index: 14;

}
.ticker-div {
	float: left;
	margin-top: 15px;
	margin-left: 0;
	padding: 10px;
	width: 100%;
	max-height: 240px;
	overflow: auto;
	background-color: #FFF;
	border-radius: 2px;

	position: relative;
	z-index: 10;

	border: 1px solid #ccc;
  border-top-color: #d9d9d9;


  .ticker-icon {
		position: absolute;
    z-index: 11;
    top: 0;
    right: 0;
    width: 18px;
    height: 20px;
    background: url("../images/IhpNvdCoJ5U.png") no-repeat -232px -117px;
    background-size: 312px 163px;
  }
  
  .ticker-list {
				display: block;
				float: left;
			> li {
				float: left;
				border-bottom: 1px solid #DDD;
				margin: 5px 0;
				padding: 5px 0;
				width: 100%;
				cursor: pointer;

				img {
					float: left;
				}

				.activity {
					margin-left: 12px;
			    float: left;
			    width: 80%;
			    padding: 0;
			    line-height: 1.3em;
				}
			}
  }

}
.lang-div {
	float: left;
	margin-top: 15px;
	padding: 10px;
	width: 100%;

	background-color: #FFF;
	border-radius: 2px;
	position: relative;
	z-index: 10;

	border: 1px solid #ccc;
  border-top-color: #d9d9d9;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);

  .lang-add {
  	position: absolute;
  	z-index: 12;
  	right: 10px;
  	top: 10px;
  	border-radius: 2px;
		font-size: 14px;
		height: 30px;
		line-height: 1em;

  }
}
.lang-list {
		max-width: 240px;
	> li {
		display: inline-block;
		margin-right: 5px;
		color: #666;
		> a {
			color: #3b5998;
	    cursor: pointer;
	    text-decoration: none;

	    &:hover {
	    	text-decoration: underline;
	    }
		}
	}
}

/*  Scroll Style */

.scroll1::-webkit-scrollbar {
  width: 5px;
}
 
.scroll1::-webkit-scrollbar-track {
  background: #ddd;
}
 
.scroll1::-webkit-scrollbar-thumb {
  background: #666; 
}


.scroll4::-webkit-scrollbar {
  width: 10px;
}
 
.scroll4::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

.scroll4::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

.legal-div {
	margin-top: 15px;
	padding: 10px;
	width: 100%;
	float: left;
	.legal-list {
		
		> li {
		display: inline-block;
		margin-right: 5px;
		a {
			color: #9197a3;
			&:hover {
				text-decoration: underline;
			}
		}
		}
		li.copyright {
			display: block;
			clear: both;
		}
	}
}
.people-status-div {
	float: left;
	width: 100%;
	position: relative;
	z-index: 9;
	margin-bottom: 30px;
	.li-status {
		float: left;
		width: 100%;
		display: block;
		margin-top: 15px;
		padding: 10px;

		background-color: #FFF;
		border-radius: 3px;

		border: 1px solid #ccc;
	  border-top-color: #d9d9d9;
	  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);

	  .su-time {
			color: #9197a3;
			width: 100%;
			clear: both;
			font-weight: normal;
			font-size: 12px;
		}
	}
}


.img-name-ul {
	margin: 0;
	padding: 0;
	 li {
		float: left;
		margin: 0;
		padding: 0;
		margin-right: 10px;
		 a {
			font-size: 14px;
			line-height: 1.34em;
			color: #3b5998;
			font-weight: bold;
			float: left;
		}
		li.name {
			margin: 0;
			line-height: 0;
			padding: 0;
		}


	}
}
.globe-icon {
	color: #666;
}

.scope-time-ul {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	margin-top: 5px;
}

.user-status {
	margin-top: 10px;
	width: 100%;
	float: left;
	clear: both;
	border-bottom: 1px solid #DDD;

	article {
		font-size: 14px;
		line-height: 1.5em;
	}
}
.people-reaction-activity {
	float: left;
	width: 100%;
	margin-top: 5px;
	.r-activity-list {
		li {
			display: inline-block;
			margin-right: 20px;

			a {
				color: #7f7f7f;
				font-size: 12px;
			}
		}
		.like {
				float: left;
		    width: 19px;
		    height: 14px;
		    background: url("../images/YT7RpIpQr2m.png") no-repeat;
		    background-size: 64px 334px;
		    background-position: -30px -211px;
		}

		.comment {
				float: left;
		    width: 14px;
		    height: 13px;
		    background: url("../images/YT7RpIpQr2m.png") no-repeat;
		    background-size: 75px 280px;
		    background-position: -20px -178px;
		    margin: 4px 7px 0px 8px;
		}

		.share {
			float: left;
	    width: 20px;
	    height: 14px;
	    background: url("../images/YT7RpIpQr2m.png") no-repeat;
	    background-size: 64px 334px;
	    background-position: -46px -225px;
		}
	}
}

.hash-tag {
	color: #3b5998;
	text-decoration: underline;
	font-weight: bold;
}

.suggest-connection {
		background-color: #FFF;
		float: left;
		width: 100%;
		padding: 10px;
		border-radius: 3px;

		border: 1px solid #ccc;
		border-top: 0;
	  border-top-color: #d9d9d9;
	  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);

}

.suggest-connection {
	.sc-title {
		color: #90949c;
		font-size: 14px;
		line-height: 12px;
		font-weight: bold;
		float: left;
	}
		ul li {
				display: inline-block;
				margin-right: 5px;
				float: left;
			a {
				float: left;
			}		
		}
		hr.sa {
			margin-bottom: 10px;
			width: 100%;
			float: left;
		}	
		.friend_icon {
			float: left;
	    width: 25px;
	    height: 20px;
	    background: url("../images/Z3jnZLsaMc9.png") no-repeat;
	    background-size: 40px 200px;
	    background-position: -10px -84px;
		}
		.req-btn {
			font-weight: bold;
			color: #666;
		}

}


#privacyArea {
	position: relative;
	z-index: 11;
	top: 0;
}

.privacyOption {
	display: none; 
	position: absolute;
	z-index: 30;
	top: 27px;
	right: 0;
	background: #FFF;
	padding: 0;
	border-radius: 3px;
	width: 200px;
	height: auto;


  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);


  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
  border-top: 1px solid rgba(0, 0, 0, .05);

  .title {
  	width: 100%;
  	padding: 10px 20px;
  	font-size: 14px;
  	float: left;
  }
}
.privacy-desc-ul {
	li {
		display: block;
		margin: 2px;
		cursor: pointer;
		line-height: 0;
	}
	li.short-title {
		font-size: 14px;
		font-weight: bold;
		color: #333;
	}
	li.privacy-desc-li {
		font-size: 12px;
		color: #666;
	}
}
.privacy-option-list {
		float: left;
		width: 100%;
	li {
		padding: 0;
		margin: 1px 0;
		float: left;
		width: 100%;
		a {
			float: left;
	    width: 100%;
	    color: #666;
	    font-weight: bold;
	    padding: 4px 0 0px 25px;
	    background-color: #F6F7F8;
	    position: relative;
	    z-index: 12;

			&:hover {
				color: #FFF;
				background-color: #3b5998;
			}
		}
	}

	li.pol-mo-li {
		a {
			background-color: #FFF;
			&:hover {
				color: #333;
			}
		}
	}
}

.p-title {
	padding-left: 5px;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.5em;
}
.privacy-desc {
    display: block;
    font-size: 11px;
    font-weight: normal;
    line-height: 1.5;
    max-width: 270px;
    padding-bottom: 7px;
    padding-left: 22px;
    padding-right: 8px;
    white-space: normal;
}
.friends-icon {
		background: url("../images/Z3jnZLsaMc9.png") no-repeat -20px -130px;
    background-size: 46px 230px;
    width: 18px;
    height: 18px;
    float: left;
}

.s-option {
		position: absolute;
    z-index: 14;
    left: 8px;
    top: 4px;
    float: left;
}