body {
	font-family: arial, 'sans-serif';
	font-size: 13px;
	line-height: 1.5em;	
	font-weight: normal;
	background-color: #E9EAED;
}
* {
	margin: 0;
	padding: 0;
}

ul,ol,li {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.container {
	width: 991px !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.bold {
	font-weight: bold;
}
#headerSection {
	background-color: #3B5998;
	width: 100%;
	height: 42px;
}

.logoBlock {
    background: url("../images/66mSB924h08.png") no-repeat -44px -26px;
    width: 34px;
    height: 40px;
    background-size: 100px 141px;
    float: left;
		&:hover {
			cursor: pointer;
		}
}

.searchBlock {
	margin-top: 8px;
	display: block;
	position: relative;
	z-index: 12;
	margin-left: -10px;
	left: 0;
	max-width: 500px;
	position: relative;
	z-index: 10;
	input {
		border: 0;
		outline: 0;
		border-radius: 2px;
		padding: 2px;
		padding-left: 10px;
		width: 100%;
		max-width: 400px;
		height: 26px;
		position: absolute;
		z-index: 11;
	}


			::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: #999;
		  
		}
		::-moz-placeholder { /* Firefox 19+ */
		  color: #999;
		  
		}
		:-ms-input-placeholder { /* IE 10+ */
		  color: #999;
		  
		}
		:-moz-placeholder { /* Firefox 18- */
		  color: #999;
		  
		}


}
.search-icon {
    background: url("../images/k73czxfkmQD.png") no-repeat -65px -234px;
    width: 30px;
    height: 21px;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    left: 12px;
    background-size: 90px 326px;
    zoom: 0.9;
}
.s-btn {
	background-color: #F2F2F2;
    position: absolute;
    right: -1px;
    top: 0;
    width: 40px;
    height: 26px;
    border: 0;
    outline: 0;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.s-btn:before{
    content: '';
    display: inline-block;
    height: 20px;
    vertical-align: middle;
}
ul.header-list {
		> li {
    margin-top: 12px;
    list-style: none;
    margin-right: 5px;
    border-right: 1px solid #355089;
    padding-right: 2px;
    float: left;
    line-height: 1.8em;
		> a {
			color: #FFF;
	    font-weight: bold;
	    float: left;
	    padding: 0 8px;
	    border-radius: 3px;
				&:hover {
				background-color: #29487D;
			}

		}
	}
}

ul.header-list > li:first-child > a {
	margin: 0;
	padding: 0;
}
.profile-block {
	float: left;
	margin-top: 0;
	.profile-name {
		margin-top: 0;
		float: left;
	}
	ul {
		float: left;
		margin: -3px;
		padding: 0;
		height: 27px;

		li.profile-name-li {
		 margin: 3px 0 0 4px;
		}
	}
	ul > li {
		float: left;
		list-style: none;
		display: inline-block;
		margin: 3px 0 0 0;
		margin-right: 2px;
	}
}
.profile-img {
		float: left;
	> img {
		width: 20px;
		height: auto;
	}
}

.connect-block {
	float: left;
	margin: 0;
	margin-left: 10px;
	margin-right: 20px;

	ul {
			li {
				display: inline-block;
				margin-right: 2px;
				width: 30px;
		  		height: 32px;
				cursor: pointer;
				margin-top: 5px;
				> a {
					display: block;
					text-indent: -999em;
				}
		} 
		li.friendRequest {
			    background: url("../images/mZ60q_p4Y2T.png") no-repeat 0 -740px;
    			background-size: 40px 1248px;
		    
		}

		li.msgs {
		     background: url("../images/mZ60q_p4Y2T.png") no-repeat -3px -390px;
   			 background-size: 40px 1250px;
		}


		li.notifications {
			background: url("../images/mZ60q_p4Y2T.png") no-repeat 0 -952px;
		    background-size: 38px 1248px;
		    opacity: 0.5;
		    height: 30px;
		}
	}
}

.settings-block {
	float: left;
		ul {
			> li {
				margin-top: 5px;
				width: 24px;
				display: inline-block;
				margin-right: 2px;
				cursor: pointer;
				> a {
					display: block;
							text-indent: -999em;
						}
				} 

				li.privacy {
					background: url("../images/mZ60q_p4Y2T.png") no-repeat 0 -1573px;
				    background-size: 40px 1600px;
				    height: 26px;
				}

				li.settings {
					background: url("../images/66mSB924h08.png") no-repeat -4px -125px;
				    background-size: 111px 151px;
				    height: 20px;
				    width: 12px;
				}
		}
	}
.header-rs {
	float: right;
}

.h-list {
    float: left;
    font-size: 10px;
    font-weight: normal;
}

/*  Sidebar  */
.s-list {
	display: block;
    margin-top: 10px;
    float: left;
    width: 100%;
	li {
		  margin: 4px 0;
		    float: left;
		    width: 100%;
		> a {
			font-size: 12px;
			color: #000;
		    float: left;
		    width: 100%;
		    padding: 2px 5px;
		    border-radius: 2px;
			&:hover {
				text-decoration: underline;
				background-color: #dcdee3;
			}
		}
		
	}
}

.s-pimg > img {
	width: 16px;
	height: auto;
	float: left;
	margin-right: 5px;
}
.s-pt {
	float: left;
	font-size: 12px;
}


.fb-icon {
	width: 22px;
    height: 20px;
    float: left;
}
.ep_icon {
	background: url("../images/S-BRDCgfPJZ.png") no-repeat -21px -220px;
    background-size: 48px 497px;
}


.nf_icon {
	background: url("../images/G5d8ac5pgpT.png") no-repeat 0px -439px;
    background-size: 36px 800px;
}
.msg_icon {
	background: url("../images/G5d8ac5pgpT.png") no-repeat 0px -420px;
    background-size: 30px 800px;
}
.evnts_icon {
	background: url("../images/x-e8GyBzy9q.png") no-repeat -43px -121px;
    background-size: 100px 288px;
    width: 20px;
    margin-right: 5px;
}


.sb-title {
	float: left;
	margin-top: 10px;
	display: block;
	> h4 {
	color: #666;
	font-size: 11px;
	font-weight: bold;
	line-height: 0;
}

}
